:root {
	--textColor: #ffffff;
	--backgroundColor: #191c24;
	--backgroundColor-border: white;
	--backgroundColor-lighter: #5a6580;
	--fieldColor: #8a93aa;
	--fieldColor-shadow: 138, 147, 170;
	--brightness: 185%;
}
