:root {
	--textColor: #000000;
	--backgroundColor: #ffffff;
	--backgroundColor-border: #3d3d3d;
	--backgroundColor-lighter: #adb2c2;
	--fieldColor: #7e8494;
	--fieldColor-shadow: #7e8494;
	--brightness: 75%;
}
