/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

body {
	margin-top: 2vh;
	padding: 10px;
	font-family: 'Rubik', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: var(--textColor);
	background-color: var(--backgroundColor);
}

span {
	cursor: pointer;
}

.main {
	display: inline-flex;
	width: 100%;
}

.side {
	text-align: center;
	display: inline-block;
	width: 50%;
}

@media screen and (max-width: 1100px) {
	.main {
		display: block;
		width: 100%;
	}
	.side {
		text-align: center;
		display: block;
		width: 100%;
	}
}
.ok {
	color: #00c742be;
}
.bad {
	color: #ff0000be;
}

#true {
	color: #00c742be;
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Likely future */
	cursor: default;
}

#false {
	color: #d62000be;
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Likely future */
	cursor: default;
}

.result {
	font-size: 8em;
}

.text {
	font-size: calc(16px + 6 * ((100vw - 320px) / 680));
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Likely future */
}

.button {
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 3px;
	background: var(--backgroundColor);
	filter: brightness(var(--brightness));
	color: var(--textColor);
	border: 1px solid var(--fieldColor-shadow);
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Likely future */
}

.logicText {
	font-size: 2em;
	display: block;
	-webkit-user-select: all; /* Chrome 49+ */
	-moz-user-select: all; /* Firefox 43+ */
	-ms-user-select: all; /* No support yet */
	user-select: all; /* Likely future */
}

table {
	display: inline-table;
	margin: 0 auto;
	margin-top: 25px;
	text-align: center;
	border: 2px solid var(--backgroundColor-border);
}

table,
th {
	border: 1px solid var(--backgroundColor-border);
}
th,
td {
	padding: 0px 10px 0px 10px;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid var(--backgroundColor-border);
}

table:first-child {
	border-left: none;
}

table:last-child {
	border-bottom: none;
}
tr:hover {
	background-color: var(--backgroundColor-lighter);

	user-select: none;
}
#out {
	border-left: 2px solid var(--backgroundColor-border);
}

#logicDisplay {
	font-size: 2em;
	display: block;
}

.container {
	display: inline-block;
	position: relative;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: 40px;
	width: 35px;
}

/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	margin-left: -18px;

	position: absolute;
	top: 25px;
	height: 25px;
	width: 25px;
	filter: brightness(var(--brightness));

	background-color: var(--backgroundColor);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: var(--backgroundColor-lighter);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	filter: brightness(100%);

	background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.alternative,
.symbol {
	display: inline-block;
	width: 20px;
}
.alternative {
	cursor: default;
	cursor: default;
	top: -25px;
	position: relative;
	text-align: center;
	right: 8px;
	margin-left: -20px;
}

input[type='text'] {
	width: 360px;
	background: var(--backgroundColor);
	filter: brightness(var(--brightness));
	color: var(--textColor);
	font-size: 2em;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.4);
	border: 0;
	outline: 0;
	padding: 10px 18px;
	margin: 20px 0px 20px 0px;
	max-width: 90%;
}
